<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trading sample</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ url_for('static', path='/main.js') }}" defer></script>
</head>
<body>
    <label for="tickers_select">Tickers</label>
    <select id="tickers_select">
        {% for name in ticker_names %}
        <option value="{{ name }}">{{ name }}</option>
        {% endfor %}
    </select>
    <div id="chart_div"></div>
</body>
</html>